.appwork-section {
    width: 100%;
  }
  
  .appwork-container {
    min-width: 73%;
    max-width: 73%;
    margin: 4rem auto;
    border-radius: 51.45px;
  }
  
  .how-does-the-app-work-heading-gr {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: "Helvetica Neue", Arial, sans-serif !important;
    letter-spacing: 0.56px;
    color: #2b2b2b;
    text-align: center;
    margin: 0;
  }
  
  .how-does-the-app-work-sub-heading-gr {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Helvetica Neue", Arial, sans-serif !important;
    letter-spacing: 1px;
    color: #2b2b2b;
    text-align: center;
    margin-top: 0.75rem;
  }
  
  .videos-container {
    display: flex;
    padding: 2.5rem;
    margin-top: 3rem;
    border: 1px solid #ffe4b3;
    background: #fffaf1;
    border-radius: 2rem;
    justify-content: space-between;
  }
  
  .each-video-div {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
  }
  
  .each-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
  
  .each-video img {
    width: 100%;
    border-radius: 27.525px !important;
    border: 0.944px solid #5e3f00 !important;
  }
  
  .each-video h5 {
    margin: 0.75rem 0;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .each-video p {
    margin: 0;
    font-size: 1.15rem;
    font-weight: 300;
    letter-spacing: 1.5px;
  }
  
  .cards-container {
    display: flex;
    margin-top: 3rem;
    gap: 1rem;
    justify-content: space-between;
  }
  
  .each-card-div {
    display: flex;
    width: calc(100% / 4);
  }
  
  .each-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem;
    background: rgba(255, 250, 241, 1);
    border: 0.74px solid rgba(255, 228, 179, 1);
    border-radius: 20px;
    gap: 1rem;
  }
  
  .caption-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .caption-div p {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
  }
  
  /* Media Queries for responsive design */
  @media (max-width: 1400px) {
    .appwork-container {
      max-width: 1320px;
    }
  }
  
  @media (max-width: 1200px) {
    .appwork-section {
      padding: 0 2rem;
    }
    .appwork-container {
      max-width: 1140px;
    }
    .cards-container .each-card-div .each-card {
      padding: 0.5rem;
    }
  }
  
  @media (max-width: 992px) {
    .appwork-container {
      max-width: 960px;
    }
  }
  
  @media (max-width: 768px) {
    .appwork-container {
      max-width: 720px;
    }
    .how-does-the-app-work-heading-gr {
      font-size: 44px;
    }
    .how-does-the-app-work-sub-heading-gr {
      font-size: 22px;
    }
    .videos-container {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 3rem 1rem;
    }
    .videos-container .each-video-div {
      width: 45%;
    }
    .cards-container {
      flex-wrap: wrap;
      padding: 0 3rem;
    }
    .cards-container .each-card-div {
      width: 45%;
    }
  }
  
  @media (max-width: 576px) {
    .appwork-container {
      max-width: 540px;
    }
    .videos-container {
      gap: 2rem 0;
    }
    .videos-container .each-video-div {
      width: 80%;
    }
    .cards-container {
      justify-content: center;
    }
    .cards-container .each-card-div {
      width: 65%;
    }
  }
  
  @media (max-width: 450px) {
    .appwork-section {
      padding: 0 0.5rem;
    }
    .videos-container .each-video-div {
      width: 90%;
    }
    .videos-container .each-video {
      text-align: center;
    }
    .cards-container .each-card-div {
      width: 100%;
    }
  }
  