.app-download-section {
    width: 100%;
}

.app-download-wrapper {
    display: flex;
    min-width: 73%;
    max-width: 73%;
    margin: 2rem auto;
    border-radius: 45px;
    background: #fffaf1;
    gap: 4rem;
}

.app-left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 0 2rem 3rem;
}

.app-title {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: "Helvetica Neue", Arial, sans-serif !important;
    letter-spacing: 0.56px;
    color: #2b2b2b;
    text-align: left;
    margin: 0;
}

.app-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Helvetica Neue", Arial, sans-serif !important;
    letter-spacing: 1px;
    color: #2b2b2b;
    text-align: left;
    margin: 2rem 0;
}

.app-right-content {
    display: flex;
    padding: 2rem 4rem 0 0;
}

.app-right-content img {
    width: 100%;
}

/* Media Queries for responsive design */
@media (max-width: 1400px) {
    .app-download-wrapper {
        max-width: 1320px;
    }
}

@media (max-width: 1200px) {
    .app-download-wrapper {
        max-width: 1140px;
    }
}

@media (max-width: 1100px) {
    .app-download-wrapper {
        min-width: 88%;
        max-width: 88%;
    }
}

@media (max-width: 992px) {
    .app-download-wrapper {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .app-download-wrapper {
        max-width: 720px;
    }
    .app-left-content {
        min-width: 50%;
    }
    .app-right-content {
        min-width: 50%;
        padding: 0 4rem 0 0;
        justify-content: center;
    }
    .app-right-content img {
        width: 75%;
    }
}

@media (max-width: 576px) {
    .app-download-wrapper {
        max-width: 540px;
        flex-direction: column-reverse;
        gap: 0;
        align-items: center;
    }
    .app-left-content {
        align-items: center;
        padding: 2rem;
    }
    .app-title,
    .app-subtitle {
        text-align: center;
    }
    .app-right-content {
        width: 100%;
        padding: 2rem 0 0;
    }
    .app-right-content img {
        width: 60%;
    }
}


@media (max-width: 450px) {
    .app-download-wrapper {
        .app-left-content {
            padding: 2rem 3rem;
        }
        .app-title {
            font-size: 48.159px;
        }
    }
    .app-right-content img {
        width: 60%;
    }
}
