
.hero-section {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) -27.14%,
      #fffadf 100%
    );
    width: 100%;
    padding: 2rem 0 6rem 0;
  
    .hero-container {
      display: flex;
      min-width: 88%;
      max-width: 88%;
      margin: 0 auto;
  
      .hero-text-section {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        .hero-textarea {
          .save-smartly-text {
            color: #343a40;
            font-size: 33.204px;
            font-weight: 600;
            letter-spacing: 1px;
            margin: 0 0 1rem 0;
          }
  
          .gold-text {
            color: #C4963C;
            font-family: "Helvetica Neue", sans-serif;
            font-size: 92px;
            font-style: normal;
            font-weight: 700;
            line-height: 55px;
            letter-spacing: 0.1em;
            margin: 0 0 1rem 0;
          }
  
          .extra-gold-text {
            font-size: 22.3px;
            color: rgba(43, 43, 43, 1);
            font-weight: 300;
            letter-spacing: 1px;
            font-family: "Helvetica Neue", Arial, sans-serif !important;
          }
  
          .saving-div {
            display: flex;
            gap: 1rem;
            align-items: center;
  
            button {
              background: #9D002B;
              color: white;
              padding: 0.75rem 1rem;
              border-radius: 2rem;
              cursor: pointer;
              border: none;
              font-size: 18px !important;
              font-weight: 400;
            }
  
            span {
              border: 1px solid #dee2e6;
              padding: 0.75rem 1rem;
              background: white;
              font-weight: 350 !important;
              border-radius: 2rem;
              font-family: "Poppins", sans-serif !important;
              color: #111;
              letter-spacing: 0.5px;
              font-style: normal;
              font-size: 20.138px;
            }
          }
  
          .powered-div {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            gap: 2rem;
  
            .powered-text {
              color: #686868;
              margin: 0.25rem;
            }
          }
        }
      }
  
      .hero-img-section {
        width: 50%;
        display: flex;
        align-items: center;
  
        .hero-bgImg {
          background: url("https://www.plusgold.in/images/sonkshibackgroundImage.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          width: 100%;
  
          .heroImg {
            display: flex;
            justify-content: center;
  
            img {
              z-index: 3;
            }
          }
        }
      }
    }
  
    @media (max-width: 1024px) {
      .hero-container {
        .hero-text-section {
          .hero-textarea {
            .saving-div {
              flex-direction: column;
              align-items: flex-start;
            }
          }
        }
      }
    }
  
    @media (max-width: 992px) {
      .hero-container {
        flex-direction: column;
        align-items: center;
        min-width: 100%;
        max-width: 100%;
        padding: 0 1rem;
      }
    }
  
    @media (max-width: 768px) {
      .hero-container {
        .hero-text-section {
          width: 100%;
          display: flex;
          justify-content: center;
          .hero-textarea {
            width: fit-content;
            .save-smartly-text {
              font-size: 28px;
            }
            .gold-text {
              font-size: 75px;
              letter-spacing: 0.09em;
            }
            .extra-gold-text {
              font-size: 18px;
            }
            .saving-div {
              flex-direction: row;
              align-items: center;
  
              button {
                padding: 5.084px 7.526px;
                font-size: 16px;
              }
  
              span {
                padding: 4.16px 12.78px 3.48px 12.89px;
                font-size: 17.138px;
              }
            }
          }
        }
        .hero-img-section {
          width: 100%;
        }
      }
    }
  
    @media (max-width: 576px) {
      .hero-container {
        .hero-text-section {
          .hero-textarea {
            .saving-div {
              flex-direction: column;
              align-items: flex-start;
            }
            .powered-div {
              gap: 1rem;
            }
          }
        }
      }
    }
  
    @media (max-width: 425px) {
      .heroImg {
        width: 100%;
  
        img {
          width: 100%;
        }
      }
    }
  
    @media (max-width: 375px) {
      .hero-container {
        .hero-text-section {
          .hero-textarea {
            .powered-div {
              gap: 0.5rem;
  
              .powered-text {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
    }
  
    @media (max-width: 320px) {
      .hero-container {
        .hero-text-section {
          .hero-textarea {
            .powered-div {
              gap: 0.5rem;
  
              img {
                width: 60px;
              }
            }
          }
        }
      }
    }
  }
  

  

  .save-section {
    width: 100%;
    display: flex;
  
    .save-container {
      display: flex;
      min-width: 73%;
      max-width: 73%;
      margin: -8rem auto 0 auto;
      border-radius: 51.45px;
      border: 0.857px solid #b7b7b7;
      background: linear-gradient(180deg, #fffaf1 0%, #fff 50%, #fff 50%);
      padding: 6rem 3rem;
  
      .save-img {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
  
        img {
          width: 60%;
        }
      }
  
      .save-textarea {
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: center;
        align-items: flex-start;
  
        .save-like-your-mom-heading {
          font-size: 48px;
          letter-spacing: 2px;
          font-weight: bolder;
          font-family: "Helvetica Neue", Arial, sans-serif !important;
          margin-bottom: 0.5rem;
          margin-top: 0;
        }
  
        .mb-1 {
          margin-bottom: 0.25rem;
        }
        .helvetica-neue {
          font-family: "Helvetica Neue", Arial, sans-serif !important;
        }
        .letter-spacing-for-gr {
          letter-spacing: 0.5px;
        }
        .buy-10grams-gr {
          font-size: 22px;
          font-weight: 400;
        }
        .gold-word {
          color: #C4963C;
        }
      }
    }
  
    @media (max-width: 1400px) {
      .save-container {
        max-width: 1320px;
      }
    }
  
    @media (max-width: 1200px) {
      padding: 0 2rem;
      .save-container {
        max-width: 1140px;
      }
    }
  
    @media (max-width: 992px) {
      .save-container {
        max-width: 960px;
      }
    }
  
    @media (max-width: 768px) {
      .save-container {
        max-width: 720px;
        padding: 4rem 2rem 2rem;
  
        .save-textarea {
          .save-like-your-mom-heading {
            font-size: 38px;
            letter-spacing: 1px;
          }
          .buy-10grams-gr {
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
    }
  
    @media (max-width: 576px) {
      .save-container {
        max-width: 540px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 4rem;
  
        .save-img {
          width: 100%;
        }
  
        .save-textarea {
          width: 100%;
          align-items: center;
          text-align: center;
        }
      }
    }
  
    @media (max-width: 475px) {
      padding: 0.5rem;
      .save-container {
        padding: 4rem 1rem 2rem;
      }
    }
  }
  